@model Website.Models.Movie

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Title</title>
    <title></title>
</head>
<body>

    @await Html.PartialAsync("_Greeting")


</body>
</html>