@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <p>Welcome to the Summer Heights High character lookup system.</p>

    <p>Please enter a character name from the following:</p>

    @*Dropdown with available character names*@

    @*When option selected output chosen character info to page*@

</div>
