@{
    ViewData["Title"] = "Products";
}

@section Footer {
    <span>
        This is a custom footer taken from <b>RenderSectionExample2</b> using RenderSection in _Layout
    </span>
}

<h2>Products</h2>